{% extends 'home/header.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
   <div class="main-path">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h3 class="text-center">Log in</h3>
                <hr>
                <form action="" method="post">
                    <div class="forms">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </div>
                    <input type="submit" id="sub" class="btn btn-success" value="Log in">
                </form>
            </div>
        </div>
   </div>
{% endblock  %}